* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

header {
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: blue;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.content-wrapper {
    position: relative;
}

.main-content {
    width: 100px;
    padding: 20px;
}

.sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 10px;
    
}

footer {
    padding: 10px;
    text-align: center;
    background-color: #0080ff;
}

footer p {
    color: azure;
}