* {
    box-sizing: border-box;
}

.caixa {
    width: 100px;
    padding: 10px;
    border: 1px solid black;
}

.caixa2 {
    box-sizing: border-box;
    width: 100px;
    padding: 10px;
    border: 1px solid black
}

.container {
    width: 80%;
    margin: 0 auto;
    border: 1px dashed black;
    padding: 38px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

nav li {
    display: inline-block
}

.menu > li a:hover {
    background-color: #5e3838;
    color: greenyellow;
    border: 1px solid black;
}

nav li a:hover {
    background-color: #ff0000;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: #333;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul li {
    display: block;
    width: 200px;
}