* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
}

.caixa {
    width: 200px;
    height: 100px;
    padding: 10px;
    border: 5px solid blue;
    margin: 15px;
    display: inline-block;
}

.menu-principal ul{
    list-style: none;
    background-color: #333;
    text-align: center;
}

.menu-principal li {
    display: inline-block;
    position: relative;
}

.menu-principal li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.menu-principal li a:hover {
    background-color: #555;
}

.menu-principal ul ul {
    display: none;
    position: absolute;
    background-color: #333;
    width: 200px;
    text-align: left;
}

.menu-principal li:hover > ul {
    display: block;
}

.menu-principal ul ul li {
    display: block;
    width: 100%;
}