h1 {
    color: #2e3d93;
}

h1{
    background-image: url("/src/imagens/pig.giphy.gif");
}

h2{
    color: #181863;
}

body {
    background-color: #bcebff;
}

body {
    background-image: url("/src/imagens/logo.png.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}